<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @data_test.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @data_test.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @data_test.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @data_test.field4 %>
</p>

<p>
  <strong>Field5:</strong>
  <%= @data_test.field5 %>
</p>

<%= link_to 'Edit', edit_data_test_path(@data_test) %> |
<%= link_to 'Back', data_tests_path %>
