<p id="notice"><%= notice %></p>

<h1>Listing Rakutenclips</h1>

<table>
  <thead>
    <tr>
      <th>Clipdate</th>
      <th>Itemid</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rakutenclips.each do |rakutenclip| %>
      <tr>
        <td><%= rakutenclip.clipdate %></td>
        <td><%= rakutenclip.itemid %></td>
        <td><%= rakutenclip.comment %></td>
        <td><%= link_to 'Show', rakutenclip %></td>
        <td><%= link_to 'Edit', edit_rakutenclip_path(rakutenclip) %></td>
        <td><%= link_to 'Destroy', rakutenclip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rakutenclip', new_rakutenclip_path %>

<h2><%= link_to 'Back to top', root_path %></h2>

<%= form_tag("/list", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>