<p id="notice"><%= notice %></p>

<p>
  <strong>クリップした日:</strong>
  <%= @rakutenclip.clipdate.strftime('%Y/%m/%d %H:%M:%S') %>
</p>

<p>
  <strong>商品名:</strong>
  <% search_items('item_code') %>
  <%= @item_name %>
</p>

<p>
  <strong>商品画像</strong>
  <% search_items('item_code') %>
  <%= image_tag @picture , :size => '300x200' %>
</p>

<p>
  <strong>商品説明:</strong>
  <% search_items('item_code') %>
  <%= @description %>
</p>

<p>
  <strong>商品コード:</strong>
  <%= @rakutenclip.itemid %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @rakutenclip.comment %>
</p>

<%= link_to 'Edit', edit_rakutenclip_path(@rakutenclip) %> |
<%= link_to 'Back', rakutenclips_path %>
