<p id="notice"><%= notice %></p>

<p>
  <strong>Clipdate:</strong>
  <%= @rakutenclip.clipdate.strftime('%Y/%m/%d %H:%M:%S') %>
</p>

<p>
  <strong>picture</strong>
  <%= image_tag 'noimage.gif' %>
</p>

<p>
  <strong>Description:</strong>
  これはダミーの説明です。<br>
あらゆる場面で決定的なシーンを逃さない動体撮影性能を実現。<br>
「Xシリーズ」初の4K動画撮影に対応。<br>
ファインダーを中心としたデザインと、直感的で実用性の高い操作性を実現。
</p>

<p>
  <strong>Itemid:</strong>
  <%= @rakutenclip.itemid %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rakutenclip.comment %>
</p>

<%= link_to 'Edit', edit_rakutenclip_path(@rakutenclip) %> |
<%= link_to 'Back', rakutenclips_path %>
