<p id="notice"><%= notice %></p>

<p>
  <strong>Clipdate:</strong>
  <%= @rakutenclip.clipdate.strftime('%Y/%m/%d %H:%M:%S') %>
</p>

<p>
  <strong>picture</strong>
</p>

<p>
  <strong>Itemid:</strong>
  <%= @rakutenclip.itemid %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rakutenclip.comment %>
</p>

<%= link_to 'Edit', edit_rakutenclip_path(@rakutenclip) %> |
<%= link_to 'Back', rakutenclips_path %>
